{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div style="display: flex; padding: 10px; margin-left: 758px"><h1 style="color: #008000; background-color: #800080; border-radius:7px">Магазин MihanN1 ASTRONOMY</h1>
<h1 style="color: #000000">asd</h1>
</div>
<div style="margin-left: 800px">
    <a href='/'>Главная</a>
    <a href='/catalog'>Каталог</a>
    <a href='/discounts'>Акции и распродажи</a>
    <a href='https://twitch.tv/shadow_bossn1'>Twitch</a>
</div>
    <div>
    <h2>ОБРАЩЕНИЕ ВЛАДЕЛЬЦА КАНАЛА</h2>
        <div class="Hello"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/4c9b9066-b1b4-4ef2-9082-2568e25f9afd-profile_image-70x70.png" width="100" height="100" style="margin-top: 10px">
    <div><h3>Всем привет!</h3>
    <p>Это тестовый сайт Shadow_bossn1. В будующем данный сайт будет становится все лучше и лучше. Надеюсь у меня все получится. Здесь будут находится товары, которые я продаю. Надеюсь вам всем очень понравится! Первый же все таки сайт. Трудно было его делать, но все равно я буду продолжать пытаться его писать.</p>
    </div>
    </div>
    </div>
<div class="productlist">
 <div class="product">
    <h1>Телескоп Sky-Watcher Dob 20" (508/2000) Truss Tube SynScan GOTO</h1>
    <img src="https://telescopes.ru/wa-data/public/shop/products/94/14/11494/images/7349/7349.600.jpg" width="250">
     <div>
     <h2 style="margin-left: 305px">ОФИЦИАЛЬНОЕ ОПИСАНИЕ ОТ ПРОИЗВОДИТЕЛЯ</h2>
     <p style="margin-left: 25px">Телескоп Sky-Watcher Dob 20" (508/2000) Truss Tube SynScan GOTO с зеркалом диаметром 508 мм создан специально для любителей визуальных наблюдений. Телескоп Sky-Watcher Dob 20" (508/2000) Truss Tube SynScan GOTO позволяет получить прекрасное изображение как планет, так и объектов дальнего космоса. Легкая трубчатая цельнометаллическая конструкция "на ферме", позволяет легко транспортировать и быстро собирать телескоп. Сборка и установка телескопа займет не больше 20 минут. Телескоп оснащен моторами по двум осям, что позволяет осуществлять ведение и поиск объектов из встроенной базы данных. База данных включает 42900 объектов: планеты, объекты звездных каталогов и объектов дальнего космоса.

Монтировка с технологией Freedom-Find ™, оснащенная энкодерами по двум осям позволяет перемещать трубу вручную без потери привязки к выбранному объекту.

Главное зеркало телескопа имеет параболическую форму и диаметр 508 мм. Такое зеркало позволяет сфокусировать лучи света в одной точке и гарантирует превосходное качество изображения с высокой детализацией и отличным контрастом. Максимально полезное увеличение телескопа Sky-Watcher Dob 20" (508/2000) Truss Tube SynScan GOTO составляет примерно 1000 крат.

         Зеркала телескопа имеют высококачественное защитное покрытие из диоксида кремния, позволяющее увеличить срок службы телескопа.</p>
     <div class="price"><h1>1,500,000 руб.</h1>
     <button class="but" style="color: #800080">Купить</button>
     </div>
         </div>
    </div>
 <div class="product">
    <h1>Московский планетарий</h1>
    <img src="https://s3.sravni.ru/cms/Default/KnowledgeBaseArticle/1/planet1.jpeg" width="205">
     <div>
     <h2 style="margin-left: 535px">ОПИСАНИЕ</h2>
     <p style="margin-left: 25px">Данный планетарий считается лучшим в России. Огромное количество посетителей каждый день и конечно же кучу образовательных программ. Построен был давно, но все время обновляется. На территории есть два телескопа, в малой и большой обсерватории. Так же есть несколько залов, лекторий, большой и маллый звездный зал. Цена снижена за пробег.</p>
     <div class="price1"><h1>1,500,000,000 руб.</h1>
     <button class="but21" style="color: #800080">Купить</button>
     </div>
         </div>
    </div>
    </div>